div {
    width: 50%;
    margin: 15% 25%;
    padding: 2%;
    background: blue;
    border: 5px solid #ccc;
    border-radius: 2px;
}
input {
    width: 100%;
    height: 20%;
    margin: 10px 0;
    font-size: 35px;
    background: red;
    color: yellow;

}
label {
    font-size: 35px;
    color: chartreuse;
}
button {
    width: 25%;
    height: 10%;
    margin-left: 60%;
    font-size: 20px;
    background: red;
    color: aqua;
}