div{
    margin-top: 200px;
    margin-left: 400px;
    padding: 10px;
    font-size: 14px;
    line-height: 20px;
    background: blue;
    border: 1px solid #cccccc;
    border-radius: 3px;
    width: 500px;
}
input{
    width:100%;
    height: 50px;
    margin-bottom: 20px;
    margin-top: 20px;
    background: red;
    color: yellow;
    font-size: 35px;
}
label{
    color: chartreuse;
    margin-bottom: 20px;
    margin-top: 20px;
    font-size: 45px;
    height: 50px;
}
button{
    color: aqua;
    margin-left: 60%;
    width:200px;
    height: 50px;
    font-size: 35px;
    background: red;
}